/* Custom css */


/**
 * Font face 
 */

/* OpenSans */
 @font-face{
  font-family:OpenSans-Regular;
  src: url('fonts/OpenSans/OpenSans-Regular.woff');
}
@font-face{
  font-family:OpenSans-Bold;
  src: url('fonts/OpenSans/OpenSans-Bold.woff');
}
@font-face{
  font-family:OpenSans-Semibold;
  src: url('fonts/OpenSans/OpenSans-Semibold.woff');
}
@font-face{
  font-family:OpenSans-ExtraBold;
  src: url('fonts/OpenSans/OpenSans-ExtraBold.woff');
}
@font-face{
  font-family:OpenSans-Light;
  src: url('fonts/OpenSans/OpenSans-Light.woff');
}
@font-face{
  font-family:OpenSans-SemiboldItalic;
  src: url('fonts/OpenSans/OpenSans-SemiboldItalic.woff');
}

/* aparaj */
@font-face {
  font-family:aparaj;
  src: url('fonts/aparaj/aparaj.ttf');
}

/* Arimo */
@font-face {
  font-family:Arimo-Regular;
  src: url('fonts/Arimo/Arimo-Regular.ttf');
}
/* End */


/* Main content */
body {
  font-family:OpenSans-Regular;
}
.ewf-row {
  width: 1140px;
}
/* End */

/* Title design */
h3.headline {
  max-width: 550px;
  margin-bottom: 20px;
  border-color: #c2c2c2;
  color: #111111;
  font-size: 18px;
  text-transform: uppercase;
}
h3.headline span {
  padding-bottom: 0;
  border-color: #b90086;
  border-image: url('images/border-img.png') 10 10 10 10;
}
#page-header {
  /*margin-bottom: 0;*/
}
/* End */



/**
 * Top header 
 */
#header-top {
  border-bottom: 1px solid #ccc;
  background-color: transparent !important;
  color: #000 !important;
  -webkit-box-shadow: 0 0 10px 1px rgba(223, 220, 214, 0.9);
     -moz-box-shadow: 0 0 10px 1px rgba(223, 220, 214, 0.9);
          box-shadow: 0 0 10px 1px rgba(223, 220, 214, 0.9);
}
#header-top #header-top-widget-area-1 {
  padding: 10px 0;
  font-size: 12.5px;
}
#header-top #header-top-widget-area-1 strong {
  font-family:OpenSans-Bold;
  font-weight: normal;
}
.custom-contact:before {
  display: inline-block;
  height: 13px;
  width: 11px;
  margin: 0 5px -2px 5px;
  background-image: url('images/contact-icon.png');
  background-repeat: no-repeat;
  content: '';
}
.custom-email:before {
  display: inline-block;
  height: 12px;
  width: 16px;
  margin: 0 5px -2px 5px;
  background-image: url('images/email-icon.png');
  background-repeat: no-repeat;
  content: '';
}
#header-top .custom-email a {
  color: #000;
}
#header-top .custom-email a:hover {
  text-decoration: none;
}
#header-top .ewf_widget_social_media {
  float: right;
  width: auto;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#header-top .ewf_widget_social_media a.social-icon {
  margin: 17px 5px 17px 0;
  padding: 0 5px 0 0;
  border-right: 1px solid #ccc;
  color: #000;
  line-height: 14px;
}
#header-top .ewf_widget_social_media a.social-icon:hover,
#header-top .ewf_widget_social_media a.social-icon:focus,
#header-top .ewf_widget_social_media a.social-icon:hover i {
  color: #ac218f;
}
#header-top .ewf_widget_social_media a.social-icon i {
  font-size: 14px;
  line-height: 14px;
}
#header-top .ewf_widget_social_media a.social-icon:last-child {
  border-right: none;
}
/* End */


/**
 * Header
 */
#header {
  border: none !important;
}
#header #logo {
  display: inline-block;
  width: auto;
}
#header > .ewf-row > .ewf-span3,
#header > .ewf-row > .ewf-span9 {
  width: 100%;
  text-align: center;
}
#header #logo img {
  display: inline-block;
}
#header > .ewf-row > .ewf-span9 {
  margin: 0 0 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Main menu */
.sf-menu {
  float: none;
  display: inline-block;
  width: auto;
  vertical-align: top;
}
.sf-menu li {
  margin: 0 15px;
}
.sf-menu li a {
  padding: 12px 30px;
  border-color: #B90FD2;
  font-size: 14px;
}
.sf-menu li.menu-item-has-children ul li a {
  text-align: left;
}
.sf-menu li.menu-item-has-children > a {
  padding-right: 20px;
}
.sf-menu li.menu-item-has-children > a:after {
  display: inline-block;
  height: 5px;
  width: 9px;
  margin: 0 0 0 15px;
  background-image: url('images/gray-dropdown-arrow.png');
  background-repeat: no-repeat;
  content: "";
}
.sf-menu li.menu-item-has-children.sfHover > a:after,
.sf-menu li.menu-item-has-children > a:hover:after,
.sf-menu li.menu-item-has-children.current-menu-ancestor a:after,
.sf-menu li.menu-item-has-children.current-menu-item a:after {
  background-image: url('images/white-dropdown-arrow.png');
  background-repeat: no-repeat;
}
.sf-menu > li:hover > a,
.sf-menu > li.sfHover > a {
  margin: 0;
  border: none;
  background: #ca0bd0;
  background: -moz-linear-gradient(left,  #ca0bd0 0%, #b70fd2 99%);
  background: -webkit-linear-gradient(left,  #ca0bd0 0%,#b70fd2 99%);
  background: linear-gradient(to right,  #ca0bd0 0%,#b70fd2 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0bd0', endColorstr='#b70fd2',GradientType=1 ); 
}

.sf-menu li.current,
.sf-menu > li.current-menu-parent,
.sf-menu > li.current_page_parent,
.sf-menu > li.current-menu-item > a {
  margin: 0;
  border: none;
  background: #ca0bd0;
  background: -moz-linear-gradient(left,  #ca0bd0 0%, #b70fd2 99%);
  background: -webkit-linear-gradient(left,  #ca0bd0 0%,#b70fd2 99%);
  background: linear-gradient(to right,  #ca0bd0 0%,#b70fd2 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0bd0', endColorstr='#b70fd2',GradientType=1 );
}
.sf-menu li ul {
  border-left-color: #B90FD2;
}
.sf-menu li ul li a:before,
.sf-menu li ul li a:hover:before {
  color: #B90FD2;
}
.sf-menu li ul li a:hover:after {
  border-color: #B90FD2;
}
/* End */

/**
 * Home page
 */

/* Slider 1 */
.custom-slider-home1.ewf-row {
  width: 1140px;
}
.custom-slider-home1 .rev_slider .tp-caption {
  line-height: normal !important;
}
.custom-slider-home1 .rev_slider .tp-caption:nth-child(2) img {
  width: 100% !important;
  max-width: 722px !important;
  height: auto !important;
}
.custom-slider-home1 .rev_slider .tp-caption:nth-child(3) img {
  width: 100% !important;
  max-width: 420px !important;
  height: auto !important;
}
.custom-slider-home1 .slogan_slider {
  height: 143px;
  min-height: 0 !important;
  padding: 30px 20px 25px !important;
  border: 1px solid #FFF;
  text-align: center;
}
.custom-slider-home1 .slogan_slider .slogan_slider_text {
  font-family: OpenSans-SemiboldItalic;
  font-size: 25px !important;
  font-weight: normal !important;
  line-height: 32px !important;
  letter-spacing: 2px !important;
}
.custom-slider-home1 .slogan_slider .slogan_author {
  padding-top: 20px !important;
  font-family:OpenSans-Regular;
  font-size: 18px !important;
  font-weight: normal;
  letter-spacing: 2px !important;
}
.custom-slider-aboutme {
  /*padding: 0 10px !important;*/
  color: #8d8d8d;
  font-family:aparaj;
  font-size: 18px;
  text-align: center;
}
.custom-slider-aboutme .wpb_single_image.vc_align_left {
  text-align: center;
}
.custom-slider-aboutme .wpb_content_element {
  margin-bottom: 10px;
}
.custom-slider-aboutme .vc_btn3-container {
  margin: 30px 0 15px;
}
.custom-slider-aboutme .custom-about-circle img {
  border: 1px solid #ccc;
  padding: 3px;
}
.custom-slider-aboutme .wpb_raw_code HR {
  width: 100%;
  max-width: 80px;
  margin: 0 auto;
  border-color: #999;
}
.custom-slider-aboutme .wpb_text_column h2 {
  position: relative;
  display: inline-block;
  font-family:OpenSans-Semibold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
.custom-slider-aboutme .wpb_text_column h2:before,
.custom-slider-aboutme .wpb_text_column h2:after {
  position: absolute;
  top: 0;
  height: 15px;
  width: 70px;
  margin-top: -5px;
  border-bottom: 1px solid #ccc;
  content: "";
}
.custom-slider-aboutme .wpb_text_column h2:before {
  right: 100%;
  margin-right: 7px;
}
.custom-slider-aboutme .wpb_text_column h2:after {
  left: 100%;
  margin-left: 7px;
}
.custom-slider-aboutme .vc_btn3-container a.vc_general {
  padding: 9px 20px;
  border: 1px solid #ccc;
  font-family:OpenSans-Bold;
  font-size: 13px;  
  text-transform: uppercase;
}

/* Block */
.custom-block-1 {
  margin: 50px auto 90px;
  text-align: center;
  color: #9C9C9C;
}
.custom-block-1 .custom-block-img {
  margin-bottom: 15px;
}
.custom-block-1 .custom-subblock {
  padding: 0 70px;
  font-family:aparaj;
  font-size: 19px;
}
.custom-block-1 .custom-subblock .wpb_text_column {
  min-height: 220px;
  margin-bottom: 20px;
}
.custom-block-1 h2 {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 10px;
  color: #717171;
  font-family:OpenSans-Regular;
}
.custom-block-1 h2:before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  content: "";
}
.custom-block-1 .vc_btn3-container a.vc_general {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: #ca0bd0;
  background: -moz-linear-gradient(left,  #ca0bd0 0%, #b70fd2 99%);
  background: -webkit-linear-gradient(left,  #ca0bd0 0%,#b70fd2 99%);
  background: linear-gradient(to right,  #ca0bd0 0%,#b70fd2 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0bd0', endColorstr='#b70fd2',GradientType=1 );
  font-family:OpenSans-Semibold;
  font-size: 12px;
  text-transform: uppercase;
}
.custom-block-1 .vc_btn3-container a.vc_general:hover,
.custom-block-1 .vc_btn3-container a.vc_general:focus {
  opacity: 0.8;
}

/* Slider 2 */
.custom-slider-home2 {
  padding: 0;
}
.custom-slider-home2 .wpb_revslider_element .rev_slider:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  border-top: 4px solid #fff;
  content: "";
}
.custom-slider-home2 .wpb_revslider_element .rev_slider:after {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 4px solid #fff;
  content: "";
}
.custom-slider-home2 .home-slide2-line-top,
.custom-slider-home2 .home-slide2-line-bottom {
  display: none;
}
.custom-slider-home2 .tp-caption.large_bold_white {
  font-family:OpenSans-Regular !important;
  font-size: 100px !important;
  font-weight: normal !important;
  letter-spacing: 7px !important;
}
.custom-slider-home2 a.tp-button {
  padding: 10px 20px !important;
  background-color: transparent;
  background-image: none;
  border: 3px solid #fff !important;
  box-shadow: none;
  font-size: 30px !important;
  font-weight: normal !important;
  letter-spacing: 2px !important;
  text-shadow: unset !important;
  border-radius: 0 !important;
  text-decoration: none;
}
.custom-slider-home2 a.tp-button:hover {
  background-color: transparent;
  text-decoration: none;
  box-shadow: none;
}

.custom-slider-home2 .custom-slogan-home.ewf-row {
  margin-top: 30px;
  color: #b90086;
  font-family:OpenSans-SemiboldItalic;
  font-size: 21px;
  text-align: center;
  line-height: 35px;
}
.custom-slider-home2 .custom-slogan-home.ewf-row p strong {
  font-family:OpenSans-Bold;
  font-size: 17px;
  font-style: normal;
  letter-spacing: 2px;
}

/* BLog section */
.custom-blog-home {
  color: #111111;
  font-size: 13px;
}
.custom-blog-home .vc_gitem-animated-block  {
  float: right;
  width: 50%;
}
.custom-blog-right .wpb_single_image img {
  max-width: 460px;
  width: 100%;
  height: auto;
}
.custom-blog-home .custom-blog-left .vc_row > .vc_col-sm-12 {
  padding-left: 0;
}
.custom-blog-home .custom-blog-left h3 {
  margin-top: -6px;
  padding-bottom: 10px;
  background-image: url('images/gray-dotted-line.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  font-size: 15px;
  line-height: normal;
}
.custom-blog-home .custom-blog-right {
  max-height: 350px;
}
.custom-blog-home .read-more a {
  padding: 6px 12px;
  border: none;
  background: #47449b;
  background: -moz-linear-gradient(left,  #47449b 0%, #47449b 100%);
  background: -webkit-linear-gradient(left,  #47449b 0%,#47449b 100%);
  background: linear-gradient(to right,  #47449b 0%,#47449b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47449b', endColorstr='#47449b',GradientType=1 );
  font-size: 13px;
}
.custom-blog-home .read-more a:hover,
.custom-blog-home .read-more a:focus {
  border: none;
  opacity: 0.8;
}
/* End */


/**
 * Footer page
 */
#footer {
  font-family:Arimo-Regular;
  color: #fff;
}
#footer a {
  color: #fff;
}
#footer #footer-middle {
  padding: 40px 0;
  background-color: #ac218f;
}
#footer #footer-middle #footer-middle-widget-area-1,
#footer #footer-middle #footer-middle-widget-area-4 {
  width: 29%;
  margin-left: 2%;
}
#footer #footer-middle #footer-middle-widget-area-1 { margin-left: 0; }
#footer #footer-middle #footer-middle-widget-area-2,
#footer #footer-middle #footer-middle-widget-area-3 {
  width: 18%;
  margin-left: 2%;
}
#footer #footer-middle #footer-middle-widget-area-1 .widget {
  padding: 60px 0;
}
#footer #footer-middle #footer-middle-widget-area-1 #text-7 img {
  height: auto;
  max-width: 240px;
  width: 100%;
}
#footer #footer-middle .widget-title { display: none; }
#footer #footer-middle ul {
  margin: 0;
  list-style: none;
}
#footer #footer-middle ul li:before {
  margin: 0;
  content: "";
}
#footer #footer-middle ul li a {
  color: #fff;
  font-size: 14px;
}
#footer #footer-middle ul li a:hover,
#footer #footer-middle ul li a:focus {
  text-decoration: none;
  opacity: 0.8;
}
#footer #footer-middle .footer-address {
  display: inline-block;
  padding-left: 20px;
  color: #FFF;
  font-size: 14px;
  vertical-align: middle;
}
#footer #footer-middle .footer-address strong {
  font-size: 14px;
}
#footer #footer-middle #footer-middle-widget-area-4 .widget {
  margin-bottom: 0;
}
#footer #footer-middle #footer-middle-widget-area-4 .textwidget > div {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#footer #footer-middle #footer-middle-widget-area-4 input {
  min-height: 30px;
  max-width: 223px;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: #fff;
  color: #acacac;
  border: 1px solid #acacac;
}
#footer #footer-middle #footer-middle-widget-area-4 input[type="submit"],
#footer #footer-middle #footer-middle-widget-area-4 .eemail_textbox_button {
  width: auto;
  border: none;
  background-color: #2B2B2D;
  color: #fff;
  font-family:Arimo-Regular;
  font-size: 14px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
#footer #footer-middle #footer-middle-widget-area-4 input[type="submit"]:hover,
#footer #footer-middle #footer-middle-widget-area-4 input[type="submit"]:focus,
#footer #footer-middle #footer-middle-widget-area-4 .eemail_textbox_button:hover,
#footer #footer-middle #footer-middle-widget-area-4 .eemail_textbox_button:focus {
  opacity: 0.8;
}
#footer #footer-middle span.wpcf7-not-valid-tip {
  color: #8d8d8d;
}
#footer #footer-bottom {
  padding: 7px 0;
  background-color: transparent;
  font-size: 14px;
}
#footer #footer-bottom .widget_text {
  padding: 5px 0;
  color: #000;
  opacity: 0.59;
}
#footer #footer-bottom a.social-icon {
  padding: 0 5px;
  border: none;
  color: #ac218f;
}
#footer #footer-bottom a.social-icon i {
  border: none;
  color: #ac218f;
  font-size: 20px;
}
#footer #footer-bottom a.social-icon:last-child {
  padding-right: 0;
}
#footer #footer-bottom a.social-icon:hover {
  border: none;
  opacity: 0.8;
}
/* End */

/* placeholder */
::-webkit-input-placeholder {
  color: #333;
  font-family:OpenSans-Regular;
  text-transform: capitalize;
}
::-moz-placeholder {
  color: #333;
  font-family:OpenSans-Regular;
  text-transform: capitalize;
}
:-ms-input-placeholder {
  color: #333;
  font-family:OpenSans-Regular;
  text-transform: capitalize;
}
:-moz-placeholder {
  color: #333;
  font-family:OpenSans-Regular;
  text-transform: capitalize;
}

#footer ::-webkit-input-placeholder {
  color: #cccfda;
}
#footer ::-moz-placeholder {
  color: #cccfda;
}
#footer :-ms-input-placeholder {
  color: #cccfda;
}
#footer :-moz-placeholder {
  color: #cccfda;
}
/* End */

/* Button hover effect */
input[type="submit"]:hover {
  opacity: 0.8;
}
/* */


/**
 * About me
 */
.custom_timeline {
  margin-top: 30px;
}
.custom_timeline_box.vc_row {
  display: inline-block;
  width: 100%;
  margin: 0;
  vertical-align: top;
}
.custom_timeline_box.vc_row:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  margin-left: -1px;
  background-color: #ccc;
  content: "";
}
.custom_timeline_box .timeline_left_content {
  float: left;
  height: 100%;
  text-align: left;
}
.custom_timeline_box .timeline_left_content .timeline_left_image {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 30px 0 0 -28px;
  background-color: #fff;
  background-image: url('images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
}
.custom_timeline_box .timeline_left_content .timeline_left_image:after {
  position: absolute;
  top: 33px;
  right: 0;
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px dashed #ccc;
  content: "";
}
.custom_timeline_box .timeline_right_content {
  position: relative;
  float: left;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;

  background: #f7f7f7;
  background: -moz-linear-gradient(left,  #f7f7f7 0%, #ffffff 100%);
  background: -webkit-linear-gradient(left,  #f7f7f7 0%,#ffffff 100%);
  background: linear-gradient(to right,  #f7f7f7 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=1 );

  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.custom_timeline_box .timeline_right_content:hover {
  background: #ca0bd0;
  background: -moz-linear-gradient(left,  #ca0bd0 0%, #b70fd2 99%);
  background: -webkit-linear-gradient(left,  #ca0bd0 0%,#b70fd2 99%);
  background: linear-gradient(to right,  #ca0bd0 0%,#b70fd2 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0bd0', endColorstr='#b70fd2',GradientType=1 );
  color: #fff;
}
.custom-about-parent {
  font-size: 14px;
  line-height: 26px;
}
.custom-about-info.right-img .custom-about-image .vc_align_left {
  float: right;
}
.custom_timeline_box .timeline_right_content .custome_title_title {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-family:OpenSans-bold;
  font-size: 22px;
  text-align: left;
}
.custom_timeline_box .timeline_right_content .timeline_left_info {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 14px;
  text-align: left;
}

/* parallax */
.custom-parallax {
  margin-bottom: 0;
}
.custom-parallax .custom-parallax-content {
  text-align: center;
}
.custom-parallax .custom-parallax-content.custom-content-left {
  text-align: left;
}
.custom-parallax .custom-parallax-content .ewf-wrapper {
  display: inline-block;
  padding: 70px 20px;
  font-family: OpenSans-SemiboldItalic;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1px;
}
.custom-contact-page .ewf-wrapper a,
.custom-contact-page .ewf-wrapper a:hover {
  text-decoration: none;
}
.custom-parallax .custom-parallax-title .ewf-wrapper .wpb_text_column {
  display: inline-block;
  margin: 70px 100px;
  padding: 8px;
  /*background-color: rgba(0, 0, 0, 0.9);*/
  background-image: url('images/colorfull.png');
  content: '';
  font-size: 30px;
}
.custom-parallax .custom-parallax-title .ewf-wrapper .wpb_text_column .ewf-wrapper {
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Bootom content */
.custom-about-info.vc_row {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.custom-about-info .custom-about-image img {
  height: auto;
  max-width: 600px;
  width: 100%;
}
/*.custom-about-info:nth-child(2n) .custom-about-image .vc_align_left {
  float: right;
}*/

/* End */

/**
 * Contact page
 */
.custom-contact-page {
  margin-top: 50px;
}
.custom-contact-page strong {
  color: #ac218f;
  font-family:OpenSans-Bold;
  font-size: 14px;
  font-weight: normal;
}
.custom-contact-map > .vc_col-sm-12 {
  padding: 0;
}
.google-map {
  border-color: #ccc;
}
.wpcf7-form-control {
  min-height: 30px;
}
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: rgba(172, 33, 143, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(172, 33, 143, 0.1)
}
input[type="submit"],
.wpcf7-form input[type="submit"] {
  min-height: 30px;
  padding: 6px 25px;
  font-size: 14px;
}
.custom-skype:before {
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 0 10px -3px 0;
  background-image: url('images/skype-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
}
.custom-contact-leftside .custom-contact:before,
.custom-contact-leftside .custom-email:before {
  margin: 0 10px -1px 0;
}
.custom-contact-leftside p {
  font-size: 16px;
}
.custom-contact-leftside p > span {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
/* End */

/**
 * Belief page
 */
.custom-belief-content p {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.custom-belief-content p:before {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 10px -5px 0 ;
  background-image: url('images/belief-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
}
/* End */

/**
 * Work me page
 */
.workme-content {
  font-size: 14px;
}
.workme-right-content p {
  font-family:OpenSans-bold;
}
.workme-content a.vc_general {
  background-color: #ac218f !important;
}
/* End */


/**
 * what is coaching coaching
 */
.custom-coaching {
  font-size: 14px;
}
.custom-coaching ul {
  list-style: none;
}
.custom-coaching ul li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 10px -5px 0 ;
  background-image: url('images/belief-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
}
.custom-coaching ul li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
}
/* End */



/**
 * Blog inner page
 */
.blog-post {
  font-size: 14px;
}
.blog-post h4 {
  margin-bottom: 30px;
  font-size: 26px;
  text-transform: uppercase;
}
.blog-post .blog-post-preview img {
  max-width: 600px;
  width: 100%;
  height: auto;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
.blog-post a.btn {
  border: none;
  background-color: #ac218f;
  color: #fff;
  text-transform: capitalize;
}
.blog-post a.btn:hover {
  opacity: 0.8;
}
.blog-post .icon-box-1 {
  margin-bottom: 20px;
}
.blog-post .icon-box-1 .icon-box-content {
  margin-left: 0;
}
.comment-form {
  font-size: 14px;
}
.comment-form label {
  color: #000;
  font-family:OpenSans-Semibold;
}
.comment-form input {
  width: 100%;
}
.comment-form input.submit {
  width: auto;
  border: none;
  background-color: #ac218f;
  color: #fff;
}
/* End */


/**
 * Testimonial page
 */
.listing .testimonials-widget-testimonial {
  display: inline-block;
  width: 100%;
  margin-bottom: 70px;
}
.testimonials-widget-testimonial span img {
  padding: 2px;
  border: 2px solid #c2c2c2;
  -webkit-border-radius: 1000px;
     -moz-border-radius: 1000px;
          border-radius: 1000px;
}
.testimonials-widget-testimonial blockquote p:before,
.testimonials-widget-testimonial blockquote p:after {
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  content: "“";
}
.testimonials-widget-testimonial blockquote p:after {
  padding-left: 10px;
}
.testimonials-widget-testimonial blockquote {
  display: inline-block;
  width: 100%;
  margin: 30px 0 0;
  padding-left: 0;
  border-left: 0;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  text-align: center;
}
.testimonials-widget-testimonial.has-post-thumbnail blockquote {
  padding-left: 20px;
  width: -webkit-calc(100% - 200px);
  width:    -moz-calc(100% - 200px);
  width:         calc(100% - 200px);
}
.testimonials-widget-testimonial .credit {
  color: #ac218f;
  font-size: 18px;
}
/* End */

/* Pagination */
.pagination {
  float: left;
  display: inline-block;
  border-radius: 4px;
}
.pagination li {
  margin: 0;
}
.pagination li a {
  position: relative;
  float: left;
  margin-left: -1px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #ac218f;
  text-decoration: none;
}
.pagination li:first-child a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination li:last-child a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination li.current a {
  background-color: #ac218f;
  color: #fff;
  cursor: default;
  z-index: 2;
}
/* End */


/**
 * Responsive design
 */
/* Small desktop monitor view */
@media screen and (max-width: 1200px) {
  .ewf-row,
  .custom-slider-home1.ewf-row {
    width: 970px;
  }
  /* Home page */
  .custom-block-1 .custom-subblock {
    padding: 0 50px;
  }
  /* End */

} /* 1200px */

/* Tablet and i-pad landscape & portrait view */
@media screen and (max-width: 1024px) {
  
} /* 1024px */

/* Tablet and i-pad portrait view only */
@media screen and (max-width: 992px) {
  .ewf-row,
  .custom-slider-home1.ewf-row {
    width: 750px;
  }

  /* Menu */
  .sf-menu li {
    margin: 0 10px;
  }
  /* contact page*/
  .custom-contact-page > .vc_col-sm-3 {
    width: 35%;
  }
  .custom-contact-page > .vc_col-sm-9 {
    width: 65%;
  }

  /* Footer */
  #footer #footer-middle #footer-middle-widget-area-1 {
    width: 36%;
  }
  #footer #footer-middle #footer-middle-widget-area-4 {
    width: 32%;
  }
  #footer #footer-middle #footer-middle-widget-area-2,
  #footer #footer-middle #footer-middle-widget-area-3 {
    width: 13%;
  }

    /* Home page */
    .custom-block-1 .custom-subblock {
      padding: 0 30px;
    }
    .custom-block-1 h2 {
      font-size: 20px;
    }
    #header-top #header-top-widget-area-1 {
    padding: 10px 0;
    font-size: 11px;
  }
  /* End */

  /* About Me */
  .custom-about-parent {
    line-height: 22px;
  }
  .custom-about-info .custom-about-image,
  .custom-about-info .custom-about-text {
    width: 50%;
  }
  /* End */
  
} /* 992px */

@media screen and (max-width: 980px) {
  #mobile-menu-trigger {
    margin: 10px 15px;
  }
  } /* 980px */

/* Mobile landscape & portrait view */
@media screen and (max-width: 767px) {
  .ewf-row,
  .custom-slider-home1.ewf-row {
    width: auto;
  }
  #mobile-menu-trigger {
    margin: 35px 0 0;
  }
  /* contact page*/
  .custom-contact-page > .vc_col-sm-3,
  .custom-contact-page > .vc_col-sm-9 {
    width: 100%;
  }

  /* About me */
  .timeline_left_content {
    width: 20%;
  }
  .timeline_right_content {
    width: 80%;
  }
  .custom-about-info .custom-about-image,
  .custom-about-info .custom-about-text {
    width: 100%;
  }


  /* Home page */
  .custom-block-1 .custom-subblock {
    padding: 0 70px;
    margin-bottom: 60px;
  }
  .custom-block-1 .custom-subblock .wpb_text_column {
    min-height: 100%;
  }
  .custom-slider-home1.ewf-row {
    padding-left: 20px !important;
  }
  .custom-slider-aboutme {
    margin-top: 60px;
  }
  .custom-block-1 {
    margin: 20px auto;
  }

  /* About Me */
  .custom-about-info.vc_row {
    border-bottom: 1px solid #ccc;
  }
  /*.custom-about-info.vc_row:last-child {
    border-bottom: none;
  }*/
  .custom-about-info.right-img .custom-about-image .vc_align_left {
    float: left;
  }

  /* Footer */
  #footer #footer-middle #footer-middle-widget-area-1,
  #footer #footer-middle #footer-middle-widget-area-4 {
    float: left;
    width: 100%;
    margin: 0;
  }
  #footer #footer-middle #footer-middle-widget-area-2,
  #footer #footer-middle #footer-middle-widget-area-3 {
    float: left;
    width: 50%;
    margin: 50px 0;
  }
  #footer #footer-middle #footer-middle-widget-area-1 .widget {
    padding: 0;
  }
  #footer-bottom-widget-area-2 {
    text-align: center;
  }
  /* End */
} /* 767px */

/* Mobile portrait view only */
@media screen and (max-width: 480px) {
  .custom-block-1 .custom-subblock {
    padding: 0;
  }
  /* About Me */
  .custom_timeline_box .timeline_right_content {
    padding: 10px;
  }
  .custom_timeline_box .timeline_right_content .custome_title_title {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .custom_timeline_box .timeline_right_content .timeline_left_info {
    font-size: 12px;
  }
  /* End */

  /* Footer */
  #footer #footer-bottom a.social-icon {
    padding: 0 4px;
  }
  /* End */
} /* 480px */
